
.section1{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2{
  border: 1px solid black;
}
.button{
  background-color: red;
  border-radius: 5px;
  height: 45px;
}