.content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.boxBlue{
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}

.boxRed{
  width: 200px;
  height: 200px;
  background-color: brown;
}