.container{
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup{
  width: 50%;
  height: 50%;
  background-color: white ;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50%;
  transition: ease bottom 2.5s;
}

.container:hover .popup{
  bottom: 25%;
}
