:root{
    --colorTexto: grey;
    --colorLetra: green;
  }
  
  
  body {
    margin:0;
  }
  
  header{
    background-color:#eaeaea;
    padding:20px
  }
  
  main{
    padding:20px
  }
  
  p{
    width:50%;
    font-size: 16px
  }
  
  ul{
    list-style-type:none;
    padding:0
  }
  
  .title{
    color: var(--colorTexto);
    margin:0
  }
  
  .subtitle{
    color: var(--colorTexto);
    margin:0
  }
  
  .menu li {
    display:inline
  }
  
  .menu a {
    color: var(--colorLetra);
    text-decoration:none
  }
  
  p a {
    color:var(--colorLetra);
  }
  
  