/*.title {
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
    
    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }*/

@mixin tablet{

    @media all and (min-width:768px){@content;}
}

@mixin desktop{

    @media all and (min-width:1024px){@content;}
}

.title {
    font-size: 16px;
  
    @include tablet {
      font-size: 18px;
    }
  
    @include desktop {
      font-size: 20px;
    }
  }