.main{
    height: 500px;
    width: 400px;
    border: solid 5px black;
}


.box{
    background-color:coral;
    height: 250px;
    width: 400px;
    padding: 20px;
    border: solid 20px red;
    box-sizing: border-box;
}

.box:hover{
    background-color: cadetblue;
}


.line{
    background-color: greenyellow;
}