.content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.label{
  margin-bottom: 20px;
}

.input{
  display: block;
  margin-top: 5px;
  width: 100%;
}