* {
  font-family: roboto;
  box-sizing: border-box;
  margin: 0;
}

.menu {
  padding: 0 100px;
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main {
  padding-top: 80px;
  margin: auto;
  max-width: 600px;
}

.info {
  color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.texto p {
  padding-top: 20px;
  line-height: 1.5;
}

.texto {
  padding-bottom: 100px;
}

.footer {
  color: lightgrey;
  margin: 0 100px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.redes {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

hr {
  color: lightgrey;
}
