.box{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.color{
    background-color: thistle;
}

.container{
    /*position: relative;*/
    border: dotted 3px greenyellow;
}

.box-absolute{
    position: absolute;
    top: 0;
    right: 30px;
    background-color: lightgreen;
}
.image{
    background-color: lightgreen;
    position: relative;
}

.label{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header{
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 1;
}