/*
  Hoja de reset basada en:
    <https://beta.adalab.es/resources/stylesheets/reset.css>
    <https://meyerweb.com/eric/tools/css/reset/>*/
:root {
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}